/* common */
@font-face {
    font-family: "NotoSansKr";
    src: url("../font/NotoSansKR-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "NotoSansKr";
    src: url("../font/NotoSansKR-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "NotoSansKr";
    src: url("../font/NotoSansKR-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "NotoSansKr";
    src: url("../font/NotoSansKR-Light.otf") format("opentype");
    font-weight: 300;
}

html,
body {
    font-family: 'NotoSansKr';
    font-weight: 400;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    color: #333;
}

html {
    height: -webkit-fill-available;
    color: #333;
}

.form-text {
    color: #666;
}

.essential::before {
    content: "*";
    margin-right: 0.2rem;
    color: var(--red);
}

.btn-border {
    font-weight: bold;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.border_bold {
    border-top: 6px solid #ddd;
}

ul {
    list-style: none;
    padding: 0;
}

.fs-13 {
    font-size: 13px;
}

/* 사이드바 */
.side-bar {
    width: 250px;
    height: 100vh;
    background: var(--gray-dark);
    color: #fff;
}

.side-bar>ul>li {
    padding: 0.5rem 0;
    border-top: 1px solid #656565;
}

.dropdown-toggle {
    outline: 0;
}

.side-bar .btn-toggle {
    position: relative;
    width: 100%;
    padding: .25rem .5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #818181;
    background-color: transparent;
}

.side-bar .btn-toggle:hover {
    background: rgba(255, 255, 255, 0.3);
}

.btn-toggle {
    position: relative;
}

.btn-toggle::after {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    transform: translateY(-50%) rotate(90deg);
}


.btn-toggle[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(-90deg);
}

.side-bar .btn-toggle::after {
    filter: invert(100%);
}

.side-bar .btn-toggle-nav a {
    width: 100%;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    padding-left: 1.25rem;
    font-size: 16px;
    color: #fff;
}

.side-bar .btn-toggle-nav li.active {
    background-color: #0d6efd;
}

.side-bar .btn-toggle-nav a:hover,
.side-bar .btn-toggle-nav a:focus {
    background-color: rgba(255, 255, 255, .2);
}

.user_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    color: #818181;
}

.user_info * {
    margin: 0;
}

.user_info a {
    color: #818181;
}

.user_info .info_btn {
    flex-shrink: 0;
    padding: 0 0.2rem;
    border: 1px solid #818181;
    border-radius: 20px;
}

.scrollarea {
    overflow-y: auto;
}

/* 스위치 */
.switch {
    position: relative;
    width: 40px;
    height: 20px;
    background: #666;
    border-radius: 100px;
}

.switch input {
    display: none;
}

.switch input+label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.switch input+label::before {
    position: absolute;
    left: 1px;
    top: 50%;
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}

.switch input:checked+label::before {
    left: 50%;
}

.form-check * {
    cursor: pointer;
}

/* 셀렉트 */
.small_select {
    flex-shrink: 0;
    width: 115px;
}

/* 뱃지 */
.badge-green {
    background: #e2fdd0;
    color: green;
}

.badge-purple {
    background: #e8deff;
    color: #8d18ab;
}

.badge-red {
    background: #ffe6e1;
    color: #f55e5e;
}

.badge-gray {
    background: #eee;
}

.btn-question {
    width: 18px;
    height: 18px;
    padding: 0;
    line-height: 1;
    border: 1px solid #888;
    border-radius: 50%;
}

/* 페이지네이션 */
.pagination {
    justify-content: center;
    margin-top: 50px;
}

.page-link {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    line-height: 1;
    border: none;
    color: #222;
}

.page-link.active {
    background: #b5d2ff;
    font-weight: bold;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50%;
}


/* 컨텐츠 영역 */
.content_area {
    min-width: 1280px;
    height: 100vh;
    overflow-y: auto;
}

.content_box+.content_box {
    margin-top: 30px;
}

/* 로그인 */
.login .wrap_inner {
    min-height: 100vh;
    padding-top: 100px;
}

/* 입력폼 모달 */
.form_modal .modal-header {
    position: relative;
}

.form_modal .btn-close {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
}

.form-group.category .list-group-item {
    padding: 0.3rem 1rem;
    border: none;
    cursor: pointer;
}

.form-group.category .list-group-item.active {
    background: #eee;
    color: #222;
}

/* 테이블 */
.table {
    /* table-layout: fixed; */
}

.table-fixed {
    table-layout: fixed;
}

.table thead {
    border-top: 2px solid #000;
}

.table th {
    white-space: nowrap;
}

.min-table.table td,
.min-table.table tr {
    min-width: 10rem;
}

.table thead th,
.table tbody td {
    vertical-align: middle;
}


.table .prd_img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
}

.table p,
.table span {
    font-weight: normal;
}


/* table Header 고정 tbody scroll ====================================== */
.fixed-table-container {
    overflow-x: auto;
}

.fixed-table-header-bg {
    text-align: center;
    color: #666;
    background: #eee;
    font-weight: bold;
    height: 50px;
    /* header-bg height값 */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.fixed-table-container table {
    /* width: 100%; */
    border-collapse: collapse;
    text-align: center;
}

.fixed-table-wrapper {
    position: relative;
    overflow-y: scroll;
}

.fixed-table-wrapper thead th {
    position: sticky;
    top: 0;
    background: #eee;
}

.fixed-table-container tr {
    white-space: nowrap;
}

.fixed-table-container thead th,
.fixed-table-container tbody td{
    width: 150px;
    padding: 15px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #ddd;
    word-break: break-all;
}

.w-250 {
    width: 250px;
}
.w-300 {
    width: 300px;
}


/* 고정 되는 박스 */
.fixed_box {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: calc(100% - 250px + 1280px); */
    width: 500px;
    padding: 0.7rem 3rem;
}